<html> 
{% include "sideMenu.html" %} 
<head>  
<title>success</title> 
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> 
<style>
#leftside
{
margin-left: 500px;
}
</style>
</head>  
<body>
<div id="leftside">  
<h1>File uploaded successfully</h1>  
  <div class="alert alert-success">
    <strong>Analyze!</strong> Monthly expenses.
  </div>
    <div class="alert alert-success">
    <strong>Download!</strong> Your master CSV and do your analysis.
  </div>
    <div class="alert alert-success">
    <strong>Understand!</strong> How did you spend.
  </div>
    <div class="alert alert-success">
    <strong>Comprehend!</strong> Your expenses by keyword
  </div>
</div>
</body>  
</html>  